.tags-container {
    text-align: center;
    background-color: white;
}

.tags-container .tags {
    padding: 1rem;
}
.tags-container .tag {
    margin: 1rem;
}
.tags-info {
    padding-top: 20px;
}

@media screen and (min-width: 1024px) {
    .tags-container .tags {
        padding: 2rem;
    }
  }