.navbar-toggler {
  cursor: pointer;
}

.is-header.section {
  padding: 0.5rem 0;
}
.navbar-item .control {
  display: flex;
  align-items: center;
}
.navbar-item .control i{
  cursor: pointer;
}
.navbar-item .control input {
  border: none;
  height: 32px;
  padding: 0px;
}
.navbar-item .control .slideInNone {
  width: 0px;
  outline: none;
  border-bottom: 1px solid #00d1b2;
  transition: width 0.3s linear;
}
.navbar-item .control .slideInRight{
  width: 180px;
  height: 32px;
  outline: none;
  border-bottom: 1px solid #00d1b2;
  padding-left: 10px;
  transition: width 0.3s linear;
}