
 .archive-wrap {
    padding: 3rem;
 }
 .archive-wrap>li{
     width: 90%;
     margin: 0 auto;
     padding-bottom: 1.5rem;
 }

 .archive-list li {
    border-bottom: 2px solid whitesmoke;
    cursor: pointer;
    padding: 1rem 0;
 }
 .archive-list li  .icon {
    margin-right: 10px;
}
.archive-list li .icon i {
    font-size: 0.6rem;
}
.archive-list li span:nth-child(2) {
    margin-right: 40px;
}